<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TMDBExperiment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86C795A31EA3A503005C25BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86C795B71EA3A503005C25BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86C795C21EA3A503005C25BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
